<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/jquery-3.4.1.js}"></script>
</head>
<body>
<form>
    <input id="username" name="username" type="text">
    <input id="password" name="password" type="text">

</form>
<button id="button">登录</button>
</body>
<script>
    document.getElementById("button").onclick = function (ev) {
        var data = {};
        data["username"] = document.getElementById("username").value;
        data["password"] = document.getElementById("password").value;
        $.ajax({
            // url: "http://localhost:19999/api/login",
            url: "http://47.100.106.153:19999/api/login",
            type: "POST",
            datatype: "json",
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify(data),
            success: function () {
                alert("success");
            }
        })

    }
</script>
</html>